<a href="https://colab.research.google.com/github/techwizi/SURGE-23-Cryptocurrency-Price-Forecasting/blob/main/GapFilling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
data = pd.read_csv('coin_Bitcoin.csv')
data

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [ ]:
dates = []
for date in data['Date']:
  dates.append(pd.to_datetime(date).date())
dates

[datetime.date(2013, 4, 29),
 datetime.date(2013, 4, 30),
 datetime.date(2013, 5, 1),
 datetime.date(2013, 5, 2),
 datetime.date(2013, 5, 3),
 datetime.date(2013, 5, 4),
 datetime.date(2013, 5, 5),
 datetime.date(2013, 5, 6),
 datetime.date(2013, 5, 7),
 datetime.date(2013, 5, 8),
 datetime.date(2013, 5, 9),
 datetime.date(2013, 5, 10),
 datetime.date(2013, 5, 11),
 datetime.date(2013, 5, 12),
 datetime.date(2013, 5, 13),
 datetime.date(2013, 5, 14),
 datetime.date(2013, 5, 15),
 datetime.date(2013, 5, 16),
 datetime.date(2013, 5, 17),
 datetime.date(2013, 5, 18),
 datetime.date(2013, 5, 19),
 datetime.date(2013, 5, 20),
 datetime.date(2013, 5, 21),
 datetime.date(2013, 5, 22),
 datetime.date(2013, 5, 23),
 datetime.date(2013, 5, 24),
 datetime.date(2013, 5, 25),
 datetime.date(2013, 5, 26),
 datetime.date(2013, 5, 27),
 datetime.date(2013, 5, 28),
 datetime.date(2013, 5, 29),
 datetime.date(2013, 5, 30),
 datetime.date(2013, 5, 31),
 datetime.date(2013, 6, 1),
 datetime.date(2013, 6, 2),
 datetime.date(2013, 6, 3),
 datetime.date(2013, 6, 4),
 datetime.date(2013, 6, 5),
 datetime.date(2013, 6, 6),
 datetime.date(2013, 6, 7),
 datetime.date(2013, 6, 8),
 datetime.date(2013, 6, 9),
 datetime.date(2013, 6, 10),
 datetime.date(2013, 6, 11),
 datetime.date(2013, 6, 12),
 datetime.date(2013, 6, 13),
 datetime.date(2013, 6, 14),
 datetime.date(2013, 6, 15),
 datetime.date(2013, 6, 16),
 datetime.date(2013, 6, 17),
 datetime.date(2013, 6, 18),
 datetime.date(2013, 6, 19),
 datetime.date(2013, 6, 20),
 datetime.date(2013, 6, 21),
 datetime.date(2013, 6, 22),
 datetime.date(2013, 6, 23),
 datetime.date(2013, 6, 24),
 datetime.date(2013, 6, 25),
 datetime.date(2013, 6, 26),
 datetime.date(2013, 6, 27),
 datetime.date(2013, 6, 28),
 datetime.date(2013, 6, 29),
 datetime.date(2013, 6, 30),
 datetime.date(2013, 7, 1),
 datetime.date(2013, 7, 2),
 datetime.date(2013, 7, 3),
 datetime.date(2013, 7, 4),
 datetime.date(2013, 7, 5),
 datetime.date(2013, 7, 6),
 datetime.date(2013, 7, 7),
 datetime.date(2013, 7, 8),
 datetime.date(2013, 7, 9),
 datetime.date(2013, 7, 10),
 datetime.date(2013, 7, 11),
 datetime.date(2013, 7, 12),
 datetime.date(2013, 7, 13),
 datetime.date(2013, 7, 14),
 datetime.date(2013, 7, 15),
 datetime.date(2013, 7, 16),
 datetime.date(2013, 7, 17),
 datetime.date(2013, 7, 18),
 datetime.date(2013, 7, 19),
 datetime.date(2013, 7, 20),
 datetime.date(2013, 7, 21),
 datetime.date(2013, 7, 22),
 datetime.date(2013, 7, 23),
 datetime.date(2013, 7, 24),
 datetime.date(2013, 7, 25),
 datetime.date(2013, 7, 26),
 datetime.date(2013, 7, 27),
 datetime.date(2013, 7, 28),
 datetime.date(2013, 7, 29),
 datetime.date(2013, 7, 30),
 datetime.date(2013, 7, 31),
 datetime.date(2013, 8, 1),
 datetime.date(2013, 8, 2),
 datetime.date(2013, 8, 3),
 datetime.date(2013, 8, 4),
 datetime.date(2013, 8, 5),
 datetime.date(2013, 8, 6),
 datetime.date(2013, 8, 7),
 datetime.date(2013, 8, 8),
 datetime.date(2013, 8, 9),
 datetime.date(2013, 8, 10),
 datetime.date(2013, 8, 11),
 datetime.date(2013, 8, 12),
 datetime.date(2013, 8, 13),
 datetime.date(2013, 8, 14),
 datetime.date(2013, 8, 15),
 datetime.date(2013, 8, 16),
 datetime.date(2013, 8, 17),
 datetime.date(2013, 8, 18),
 datetime.date(2013, 8, 19),
 datetime.date(2013, 8, 20),
 datetime.date(2013, 8, 21),
 datetime.date(2013, 8, 22),
 datetime.date(2013, 8, 23),
 datetime.date(2013, 8, 24),
 datetime.date(2013, 8, 25),
 datetime.date(2013, 8, 26),
 datetime.date(2013, 8, 27),
 datetime.date(2013, 8, 28),
 datetime.date(2013, 8, 29),
 datetime.date(2013, 8, 30),
 datetime.date(2013, 8, 31),
 datetime.date(2013, 9, 1),
 datetime.date(2013, 9, 2),
 datetime.date(2013, 9, 3),
 datetime.date(2013, 9, 4),
 datetime.date(2013, 9, 5),
 datetime.date(2013, 9, 6),
 datetime.date(2013, 9, 7),
 datetime.date(2013, 9, 8),
 datetime.date(2013, 9, 9),
 datetime.date(2013, 9, 10),
 datetime.date(2013, 9, 11),
 datetime.date(2013, 9, 12),
 datetime.date(2013, 9, 13),
 datetime.date(2013, 9, 14),
 datetime.date(2013, 9, 15),
 datetime.date(2013, 9, 16),
 datetime.date(2013, 9, 17),
 datetime.date(2013, 9, 18),
 datetime.date(2013, 9, 19),
 datetime.date(2013, 9, 20),
 datetime.date(2013, 9, 21),
 datetime.date(2013, 9, 22),
 datetime.date(2013, 9, 23),
 datetime.date(2013, 9, 24),
 datetime.date(2013, 9, 25),
 datetime.date(2013, 9, 26),
 datetime.date(2013, 9, 27),
 datetime.date(2013, 9, 28),
 datetime.date(2013, 9, 29),
 datetime.date(2013, 9, 30),
 datetime.date(2013, 10, 1),
 datetime.date(2013, 10, 2),
 datetime.date(2013, 10, 3),
 datetime.date(2013, 10, 4),
 datetime.date(2013, 10, 5),
 datetime.date(2013, 10, 6),
 datetime.date(2013, 10, 7),
 datetime.date(2013, 10, 8),
 datetime.date(2013, 10, 9),
 datetime.date(2013, 10, 10),
 datetime.date(2013, 10, 11),
 datetime.date(2013, 10, 12),
 datetime.date(2013, 10, 13),
 datetime.date(2013, 10, 14),
 datetime.date(2013, 10, 15),
 datetime.date(2013, 10, 16),
 datetime.date(2013, 10, 17),
 datetime.date(2013, 10, 18),
 datetime.date(2013, 10, 19),
 datetime.date(2013, 10, 20),
 datetime.date(2013, 10, 21),
 datetime.date(2013, 10, 22),
 datetime.date(2013, 10, 23),
 datetime.date(2013, 10, 24),
 datetime.date(2013, 10, 25),
 datetime.date(2013, 10, 26),
 datetime.date(2013, 10, 27),
 datetime.date(2013, 10, 28),
 datetime.date(2013, 10, 29),
 datetime.date(2013, 10, 30),
 datetime.date(2013, 10, 31),
 datetime.date(2013, 11, 1),
 datetime.date(2013, 11, 2),
 datetime.date(2013, 11, 3),
 datetime.date(2013, 11, 4),
 datetime.date(2013, 11, 5),
 datetime.date(2013, 11, 6),
 datetime.date(2013, 11, 7),
 datetime.date(2013, 11, 8),
 datetime.date(2013, 11, 9),
 datetime.date(2013, 11, 10),
 datetime.date(2013, 11, 11),
 datetime.date(2013, 11, 12),
 datetime.date(2013, 11, 13),
 datetime.date(2013, 11, 14),
 datetime.date(2013, 11, 15),
 datetime.date(2013, 11, 16),
 datetime.date(2013, 11, 17),
 datetime.date(2013, 11, 18),
 datetime.date(2013, 11, 19),
 datetime.date(2013, 11, 20),
 datetime.date(2013, 11, 21),
 datetime.date(2013, 11, 22),
 datetime.date(2013, 11, 23),
 datetime.date(2013, 11, 24),
 datetime.date(2013, 11, 25),
 datetime.date(2013, 11, 26),
 datetime.date(2013, 11, 27),
 datetime.date(2013, 11, 28),
 datetime.date(2013, 11, 29),
 datetime.date(2013, 11, 30),
 datetime.date(2013, 12, 1),
 datetime.date(2013, 12, 2),
 datetime.date(2013, 12, 3),
 datetime.date(2013, 12, 4),
 datetime.date(2013, 12, 5),
 datetime.date(2013, 12, 6),
 datetime.date(2013, 12, 7),
 datetime.date(2013, 12, 8),
 datetime.date(2013, 12, 9),
 datetime.date(2013, 12, 10),
 datetime.date(2013, 12, 11),
 datetime.date(2013, 12, 12),
 datetime.date(2013, 12, 13),
 datetime.date(2013, 12, 14),
 datetime.date(2013, 12, 15),
 datetime.date(2013, 12, 16),
 datetime.date(2013, 12, 17),
 datetime.date(2013, 12, 18),
 datetime.date(2013, 12, 19),
 datetime.date(2013, 12, 20),
 datetime.date(2013, 12, 21),
 datetime.date(2013, 12, 22),
 datetime.date(2013, 12, 23),
 datetime.date(2013, 12, 24),
 datetime.date(2013, 12, 25),
 datetime.date(2013, 12, 26),
 datetime.date(2013, 12, 27),
 datetime.date(2013, 12, 28),
 datetime.date(2013, 12, 29),
 datetime.date(2013, 12, 30),
 datetime.date(2013, 12, 31),
 datetime.date(2014, 1, 1),
 datetime.date(2014, 1, 2),
 datetime.date(2014, 1, 3),
 datetime.date(2014, 1, 4),
 datetime.date(2014, 1, 5),
 datetime.date(2014, 1, 6),
 datetime.date(2014, 1, 7),
 datetime.date(2014, 1, 8),
 datetime.date(2014, 1, 9),
 datetime.date(2014, 1, 10),
 datetime.date(2014, 1, 11),
 datetime.date(2014, 1, 12),
 datetime.date(2014, 1, 13),
 datetime.date(2014, 1, 14),
 datetime.date(2014, 1, 15),
 datetime.date(2014, 1, 16),
 datetime.date(2014, 1, 17),
 datetime.date(2014, 1, 18),
 datetime.date(2014, 1, 19),
 datetime.date(2014, 1, 20),
 datetime.date(2014, 1, 21),
 datetime.date(2014, 1, 22),
 datetime.date(2014, 1, 23),
 datetime.date(2014, 1, 24),
 datetime.date(2014, 1, 25),
 datetime.date(2014, 1, 26),
 datetime.date(2014, 1, 27),
 datetime.date(2014, 1, 28),
 datetime.date(2014, 1, 29),
 datetime.date(2014, 1, 30),
 datetime.date(2014, 1, 31),
 datetime.date(2014, 2, 1),
 datetime.date(2014, 2, 2),
 datetime.date(2014, 2, 3),
 datetime.date(2014, 2, 4),
 datetime.date(2014, 2, 5),
 datetime.date(2014, 2, 6),
 datetime.date(2014, 2, 7),
 datetime.date(2014, 2, 8),
 datetime.date(2014, 2, 9),
 datetime.date(2014, 2, 10),
 datetime.date(2014, 2, 11),
 datetime.date(2014, 2, 12),
 datetime.date(2014, 2, 13),
 datetime.date(2014, 2, 14),
 datetime.date(2014, 2, 15),
 datetime.date(2014, 2, 16),
 datetime.date(2014, 2, 17),
 datetime.date(2014, 2, 18),
 datetime.date(2014, 2, 19),
 datetime.date(2014, 2, 20),
 datetime.date(2014, 2, 21),
 datetime.date(2014, 2, 22),
 datetime.date(2014, 2, 23),
 datetime.date(2014, 2, 24),
 datetime.date(2014, 2, 25),
 datetime.date(2014, 2, 26),
 datetime.date(2014, 2, 27),
 datetime.date(2014, 2, 28),
 datetime.date(2014, 3, 1),
 datetime.date(2014, 3, 2),
 datetime.date(2014, 3, 3),
 datetime.date(2014, 3, 4),
 datetime.date(2014, 3, 5),
 datetime.date(2014, 3, 6),
 datetime.date(2014, 3, 7),
 datetime.date(2014, 3, 8),
 datetime.date(2014, 3, 9),
 datetime.date(2014, 3, 10),
 datetime.date(2014, 3, 11),
 datetime.date(2014, 3, 12),
 datetime.date(2014, 3, 13),
 datetime.date(2014, 3, 14),
 datetime.date(2014, 3, 15),
 datetime.date(2014, 3, 16),
 datetime.date(2014, 3, 17),
 datetime.date(2014, 3, 18),
 datetime.date(2014, 3, 19),
 datetime.date(2014, 3, 20),
 datetime.date(2014, 3, 21),
 datetime.date(2014, 3, 22),
 datetime.date(2014, 3, 23),
 datetime.date(2014, 3, 24),
 datetime.date(2014, 3, 25),
 datetime.date(2014, 3, 26),
 datetime.date(2014, 3, 27),
 datetime.date(2014, 3, 28),
 datetime.date(2014, 3, 29),
 datetime.date(2014, 3, 30),
 datetime.date(2014, 3, 31),
 datetime.date(2014, 4, 1),
 datetime.date(2014, 4, 2),
 datetime.date(2014, 4, 3),
 datetime.date(2014, 4, 4),
 datetime.date(2014, 4, 5),
 datetime.date(2014, 4, 6),
 datetime.date(2014, 4, 7),
 datetime.date(2014, 4, 8),
 datetime.date(2014, 4, 9),
 datetime.date(2014, 4, 10),
 datetime.date(2014, 4, 11),
 datetime.date(2014, 4, 12),
 datetime.date(2014, 4, 13),
 datetime.date(2014, 4, 14),
 datetime.date(2014, 4, 15),
 datetime.date(2014, 4, 16),
 datetime.date(2014, 4, 17),
 datetime.date(2014, 4, 18),
 datetime.date(2014, 4, 19),
 datetime.date(2014, 4, 20),
 datetime.date(2014, 4, 21),
 datetime.date(2014, 4, 22),
 datetime.date(2014, 4, 23),
 datetime.date(2014, 4, 24),
 datetime.date(2014, 4, 25),
 datetime.date(2014, 4, 26),
 datetime.date(2014, 4, 27),
 datetime.date(2014, 4, 28),
 datetime.date(2014, 4, 29),
 datetime.date(2014, 4, 30),
 datetime.date(2014, 5, 1),
 datetime.date(2014, 5, 2),
 datetime.date(2014, 5, 3),
 datetime.date(2014, 5, 4),
 datetime.date(2014, 5, 5),
 datetime.date(2014, 5, 6),
 datetime.date(2014, 5, 7),
 datetime.date(2014, 5, 8),
 datetime.date(2014, 5, 9),
 datetime.date(2014, 5, 10),
 datetime.date(2014, 5, 11),
 datetime.date(2014, 5, 12),
 datetime.date(2014, 5, 13),
 datetime.date(2014, 5, 14),
 datetime.date(2014, 5, 15),
 datetime.date(2014, 5, 16),
 datetime.date(2014, 5, 17),
 datetime.date(2014, 5, 18),
 datetime.date(2014, 5, 19),
 datetime.date(2014, 5, 20),
 datetime.date(2014, 5, 21),
 datetime.date(2014, 5, 22),
 datetime.date(2014, 5, 23),
 datetime.date(2014, 5, 24),
 datetime.date(2014, 5, 25),
 datetime.date(2014, 5, 26),
 datetime.date(2014, 5, 27),
 datetime.date(2014, 5, 28),
 datetime.date(2014, 5, 29),
 datetime.date(2014, 5, 30),
 datetime.date(2014, 5, 31),
 datetime.date(2014, 6, 1),
 datetime.date(2014, 6, 2),
 datetime.date(2014, 6, 3),
 datetime.date(2014, 6, 4),
 datetime.date(2014, 6, 5),
 datetime.date(2014, 6, 6),
 datetime.date(2014, 6, 7),
 datetime.date(2014, 6, 8),
 datetime.date(2014, 6, 9),
 datetime.date(2014, 6, 10),
 datetime.date(2014, 6, 11),
 datetime.date(2014, 6, 12),
 datetime.date(2014, 6, 13),
 datetime.date(2014, 6, 14),
 datetime.date(2014, 6, 15),
 datetime.date(2014, 6, 16),
 datetime.date(2014, 6, 17),
 datetime.date(2014, 6, 18),
 datetime.date(2014, 6, 19),
 datetime.date(2014, 6, 20),
 datetime.date(2014, 6, 21),
 datetime.date(2014, 6, 22),
 datetime.date(2014, 6, 23),
 datetime.date(2014, 6, 24),
 datetime.date(2014, 6, 25),
 datetime.date(2014, 6, 26),
 datetime.date(2014, 6, 27),
 datetime.date(2014, 6, 28),
 datetime.date(2014, 6, 29),
 datetime.date(2014, 6, 30),
 datetime.date(2014, 7, 1),
 datetime.date(2014, 7, 2),
 datetime.date(2014, 7, 3),
 datetime.date(2014, 7, 4),
 datetime.date(2014, 7, 5),
 datetime.date(2014, 7, 6),
 datetime.date(2014, 7, 7),
 datetime.date(2014, 7, 8),
 datetime.date(2014, 7, 9),
 datetime.date(2014, 7, 10),
 datetime.date(2014, 7, 11),
 datetime.date(2014, 7, 12),
 datetime.date(2014, 7, 13),
 datetime.date(2014, 7, 14),
 datetime.date(2014, 7, 15),
 datetime.date(2014, 7, 16),
 datetime.date(2014, 7, 17),
 datetime.date(2014, 7, 18),
 datetime.date(2014, 7, 19),
 datetime.date(2014, 7, 20),
 datetime.date(2014, 7, 21),
 datetime.date(2014, 7, 22),
 datetime.date(2014, 7, 23),
 datetime.date(2014, 7, 24),
 datetime.date(2014, 7, 25),
 datetime.date(2014, 7, 26),
 datetime.date(2014, 7, 27),
 datetime.date(2014, 7, 28),
 datetime.date(2014, 7, 29),
 datetime.date(2014, 7, 30),
 datetime.date(2014, 7, 31),
 datetime.date(2014, 8, 1),
 datetime.date(2014, 8, 2),
 datetime.date(2014, 8, 3),
 datetime.date(2014, 8, 4),
 datetime.date(2014, 8, 5),
 datetime.date(2014, 8, 6),
 datetime.date(2014, 8, 7),
 datetime.date(2014, 8, 8),
 datetime.date(2014, 8, 9),
 datetime.date(2014, 8, 10),
 datetime.date(2014, 8, 11),
 datetime.date(2014, 8, 12),
 datetime.date(2014, 8, 13),
 datetime.date(2014, 8, 14),
 datetime.date(2014, 8, 15),
 datetime.date(2014, 8, 16),
 datetime.date(2014, 8, 17),
 datetime.date(2014, 8, 18),
 datetime.date(2014, 8, 19),
 datetime.date(2014, 8, 20),
 datetime.date(2014, 8, 21),
 datetime.date(2014, 8, 22),
 datetime.date(2014, 8, 23),
 datetime.date(2014, 8, 24),
 datetime.date(2014, 8, 25),
 datetime.date(2014, 8, 26),
 datetime.date(2014, 8, 27),
 datetime.date(2014, 8, 28),
 datetime.date(2014, 8, 29),
 datetime.date(2014, 8, 30),
 datetime.date(2014, 8, 31),
 datetime.date(2014, 9, 1),
 datetime.date(2014, 9, 2),
 datetime.date(2014, 9, 3),
 datetime.date(2014, 9, 4),
 datetime.date(2014, 9, 5),
 datetime.date(2014, 9, 6),
 datetime.date(2014, 9, 7),
 datetime.date(2014, 9, 8),
 datetime.date(2014, 9, 9),
 datetime.date(2014, 9, 10),
 datetime.date(2014, 9, 11),
 datetime.date(2014, 9, 12),
 datetime.date(2014, 9, 13),
 datetime.date(2014, 9, 14),
 datetime.date(2014, 9, 15),
 datetime.date(2014, 9, 16),
 datetime.date(2014, 9, 17),
 datetime.date(2014, 9, 18),
 datetime.date(2014, 9, 19),
 datetime.date(2014, 9, 20),
 datetime.date(2014, 9, 21),
 datetime.date(2014, 9, 22),
 datetime.date(2014, 9, 23),
 datetime.date(2014, 9, 24),
 datetime.date(2014, 9, 25),
 datetime.date(2014, 9, 26),
 datetime.date(2014, 9, 27),
 datetime.date(2014, 9, 28),
 datetime.date(2014, 9, 29),
 datetime.date(2014, 9, 30),
 datetime.date(2014, 10, 1),
 datetime.date(2014, 10, 2),
 datetime.date(2014, 10, 3),
 datetime.date(2014, 10, 4),
 datetime.date(2014, 10, 5),
 datetime.date(2014, 10, 6),
 datetime.date(2014, 10, 7),
 datetime.date(2014, 10, 8),
 datetime.date(2014, 10, 9),
 datetime.date(2014, 10, 10),
 datetime.date(2014, 10, 11),
 datetime.date(2014, 10, 12),
 datetime.date(2014, 10, 13),
 datetime.date(2014, 10, 14),
 datetime.date(2014, 10, 15),
 datetime.date(2014, 10, 16),
 datetime.date(2014, 10, 17),
 datetime.date(2014, 10, 18),
 datetime.date(2014, 10, 19),
 datetime.date(2014, 10, 20),
 datetime.date(2014, 10, 21),
 datetime.date(2014, 10, 22),
 datetime.date(2014, 10, 23),
 datetime.date(2014, 10, 24),
 datetime.date(2014, 10, 25),
 datetime.date(2014, 10, 26),
 datetime.date(2014, 10, 27),
 datetime.date(2014, 10, 28),
 datetime.date(2014, 10, 29),
 datetime.date(2014, 10, 30),
 datetime.date(2014, 10, 31),
 datetime.date(2014, 11, 1),
 datetime.date(2014, 11, 2),
 datetime.date(2014, 11, 3),
 datetime.date(2014, 11, 4),
 datetime.date(2014, 11, 5),
 datetime.date(2014, 11, 6),
 datetime.date(2014, 11, 7),
 datetime.date(2014, 11, 8),
 datetime.date(2014, 11, 9),
 datetime.date(2014, 11, 10),
 datetime.date(2014, 11, 11),
 datetime.date(2014, 11, 12),
 datetime.date(2014, 11, 13),
 datetime.date(2014, 11, 14),
 datetime.date(2014, 11, 15),
 datetime.date(2014, 11, 16),
 datetime.date(2014, 11, 17),
 datetime.date(2014, 11, 18),
 datetime.date(2014, 11, 19),
 datetime.date(2014, 11, 20),
 datetime.date(2014, 11, 21),
 datetime.date(2014, 11, 22),
 datetime.date(2014, 11, 23),
 datetime.date(2014, 11, 24),
 datetime.date(2014, 11, 25),
 datetime.date(2014, 11, 26),
 datetime.date(2014, 11, 27),
 datetime.date(2014, 11, 28),
 datetime.date(2014, 11, 29),
 datetime.date(2014, 11, 30),
 datetime.date(2014, 12, 1),
 datetime.date(2014, 12, 2),
 datetime.date(2014, 12, 3),
 datetime.date(2014, 12, 4),
 datetime.date(2014, 12, 5),
 datetime.date(2014, 12, 6),
 datetime.date(2014, 12, 7),
 datetime.date(2014, 12, 8),
 datetime.date(2014, 12, 9),
 datetime.date(2014, 12, 10),
 datetime.date(2014, 12, 11),
 datetime.date(2014, 12, 12),
 datetime.date(2014, 12, 13),
 datetime.date(2014, 12, 14),
 datetime.date(2014, 12, 15),
 datetime.date(2014, 12, 16),
 datetime.date(2014, 12, 17),
 datetime.date(2014, 12, 18),
 datetime.date(2014, 12, 19),
 datetime.date(2014, 12, 20),
 datetime.date(2014, 12, 21),
 datetime.date(2014, 12, 22),
 datetime.date(2014, 12, 23),
 datetime.date(2014, 12, 24),
 datetime.date(2014, 12, 25),
 datetime.date(2014, 12, 26),
 datetime.date(2014, 12, 27),
 datetime.date(2014, 12, 28),
 datetime.date(2014, 12, 29),
 datetime.date(2014, 12, 30),
 datetime.date(2014, 12, 31),
 datetime.date(2015, 1, 1),
 datetime.date(2015, 1, 2),
 datetime.date(2015, 1, 3),
 datetime.date(2015, 1, 4),
 datetime.date(2015, 1, 5),
 datetime.date(2015, 1, 6),
 datetime.date(2015, 1, 7),
 datetime.date(2015, 1, 8),
 datetime.date(2015, 1, 9),
 datetime.date(2015, 1, 10),
 datetime.date(2015, 1, 11),
 datetime.date(2015, 1, 12),
 datetime.date(2015, 1, 13),
 datetime.date(2015, 1, 14),
 datetime.date(2015, 1, 15),
 datetime.date(2015, 1, 16),
 datetime.date(2015, 1, 17),
 datetime.date(2015, 1, 18),
 datetime.date(2015, 1, 19),
 datetime.date(2015, 1, 20),
 datetime.date(2015, 1, 21),
 datetime.date(2015, 1, 22),
 datetime.date(2015, 1, 23),
 datetime.date(2015, 1, 24),
 datetime.date(2015, 1, 25),
 datetime.date(2015, 1, 26),
 datetime.date(2015, 1, 27),
 datetime.date(2015, 1, 28),
 datetime.date(2015, 1, 29),
 datetime.date(2015, 1, 30),
 datetime.date(2015, 1, 31),
 datetime.date(2015, 2, 1),
 datetime.date(2015, 2, 2),
 datetime.date(2015, 2, 3),
 datetime.date(2015, 2, 4),
 datetime.date(2015, 2, 5),
 datetime.date(2015, 2, 6),
 datetime.date(2015, 2, 7),
 datetime.date(2015, 2, 8),
 datetime.date(2015, 2, 9),
 datetime.date(2015, 2, 10),
 datetime.date(2015, 2, 11),
 datetime.date(2015, 2, 12),
 datetime.date(2015, 2, 13),
 datetime.date(2015, 2, 14),
 datetime.date(2015, 2, 15),
 datetime.date(2015, 2, 16),
 datetime.date(2015, 2, 17),
 datetime.date(2015, 2, 18),
 datetime.date(2015, 2, 19),
 datetime.date(2015, 2, 20),
 datetime.date(2015, 2, 21),
 datetime.date(2015, 2, 22),
 datetime.date(2015, 2, 23),
 datetime.date(2015, 2, 24),
 datetime.date(2015, 2, 25),
 datetime.date(2015, 2, 26),
 datetime.date(2015, 2, 27),
 datetime.date(2015, 2, 28),
 datetime.date(2015, 3, 1),
 datetime.date(2015, 3, 2),
 datetime.date(2015, 3, 3),
 datetime.date(2015, 3, 4),
 datetime.date(2015, 3, 5),
 datetime.date(2015, 3, 6),
 datetime.date(2015, 3, 7),
 datetime.date(2015, 3, 8),
 datetime.date(2015, 3, 9),
 datetime.date(2015, 3, 10),
 datetime.date(2015, 3, 11),
 datetime.date(2015, 3, 12),
 datetime.date(2015, 3, 13),
 datetime.date(2015, 3, 14),
 datetime.date(2015, 3, 15),
 datetime.date(2015, 3, 16),
 datetime.date(2015, 3, 17),
 datetime.date(2015, 3, 18),
 datetime.date(2015, 3, 19),

In [ ]:
data['Date'] = dates
data.tail(10)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2981,2982,Bitcoin,BTC,2021-06-27,34656.127356,32071.757148,32287.523211,34649.644588,3.551164e+10,6.494617e+11
2982,2983,Bitcoin,BTC,2021-06-28,35219.891791,33902.075892,34679.122222,34434.335314,3.389252e+10,6.454428e+11
2983,2984,Bitcoin,BTC,2021-06-29,36542.111018,34252.484892,34475.559697,35867.777735,3.790146e+10,6.723334e+11
2984,2985,Bitcoin,BTC,2021-06-30,36074.759757,34086.151878,35908.388054,35040.837249,3.405904e+10,6.568525e+11
2985,2986,Bitcoin,BTC,2021-07-01,35035.982712,32883.781226,35035.982712,33572.117653,3.783896e+10,6.293393e+11
2986,2987,Bitcoin,BTC,2021-07-02,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [ ]:
import datetime
base = data['Date'][0]
date_list = [base + datetime.timedelta(days=x) for x in range(2991)]
date_list[-1]

datetime.date(2021, 7, 6)

In [ ]:
data.index = data['Date']

In [ ]:
from numpy import NaN
data = data.reindex(date_list, fill_value=NaN)
data

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
Date,,,,,,,,,,
2013-04-29,1,Bitcoin,BTC,2013-04-29,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
2013-04-30,2,Bitcoin,BTC,2013-04-30,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2013-05-01,3,Bitcoin,BTC,2013-05-01,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
2013-05-02,4,Bitcoin,BTC,2013-05-02,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
2013-05-03,5,Bitcoin,BTC,2013-05-03,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2021-07-02,2987,Bitcoin,BTC,2021-07-02,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2021-07-03,2988,Bitcoin,BTC,2021-07-03,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2021-07-04,2989,Bitcoin,BTC,2021-07-04,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2021-07-05,2990,Bitcoin,BTC,2021-07-05,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2021-07-06,2991,Bitcoin,BTC,2021-07-06,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [ ]:
data = data.drop(['Name', 'Symbol'], axis=1)
data

,SNo,Date,High,Low,Open,Close,Volume,Marketcap
Date,,,,,,,,
2013-04-29,1,2013-04-29,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
2013-04-30,2,2013-04-30,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2013-05-01,3,2013-05-01,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
2013-05-02,4,2013-05-02,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
2013-05-03,5,2013-05-03,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...
2021-07-02,2987,2021-07-02,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2021-07-03,2988,2021-07-03,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2021-07-04,2989,2021-07-04,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2021-07-05,2990,2021-07-05,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2021-07-06,2991,2021-07-06,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
data = pd.DataFrame(imputer.fit_transform(data[['High', 'Low', 'Open', 'Close', 'Volume']]), columns = ['High', 'Low', 'Open', 'Close', 'Volume'])
data.index = dates
data

,High,Low,Open,Close,Volume
2013-04-29,147.488007,134.000000,134.444000,144.539993,0.000000e+00
2013-04-30,146.929993,134.050003,144.000000,139.000000,0.000000e+00
2013-05-01,139.889999,107.720001,139.000000,116.989998,0.000000e+00
2013-05-02,125.599998,92.281898,116.379997,105.209999,0.000000e+00
2013-05-03,108.127998,79.099998,106.250000,97.750000,0.000000e+00
...,...,...,...,...,...
2021-07-02,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10
2021-07-03,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10
2021-07-04,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10
2021-07-05,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10
2021-07-06,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10